.filter-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.filter-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.tittle-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid;
    margin: 10px;
    padding-left: 10px;
    background-color: #ffffffb2;
}

.clear label {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    transition: all .3s;
    margin-right: 10px;
}

.clear label:hover {
    color: red;
}

.clear input[type="radio"] {
    display: none;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffffb2;
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 600;
    color: white;
}