.Card {
    position: relative;
    margin: 10px;
}

.favorite {
    position: absolute;
    top: 25px;
    right: 3px;
    color: rgb(99, 99, 99);
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1000;
    transition: all .3s;
}

.isFavorite {
    position: absolute;
    top: 25px;
    right: 3px;
    color: rgb(255, 0, 0);
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1000;
    transition: all .3s;
}

.isFavorite:hover,
.favorite:hover {
    transform: scale(1.2);
}