.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    padding: 0;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    transition: all .3s ease;
}

.card:hover {
    box-shadow: 1px 1px 15px rgb(51, 255, 0);
}

.card .img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.name {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgba(51, 255, 0, 0.699);
    cursor: pointer;
}

.status-alive {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    padding: 0 10px;
    background-color: green;
}

.status-dead {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    color: black;
    background-color: red;
}

.status-unknown {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    padding: 0 10px;
    background-color: grey;
}

.card-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    font-size: 1.2em;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 1000;
}

.card-button:hover {
    color: white;
    background-color: red;
}

/* CHARACTER DETAIL */

.cd-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 60px);
}

.cd-info-container {

    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.cd-info-container ul {
    margin: 0 50px;
}

.cd-info-container li {
    list-style: none;
    color: rgb(115, 147, 253);
    font-size: 1.6em;
    letter-spacing: 3px;
    margin: 10px 0;
}

.cd-info-container span {
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0.658);
    border-bottom: 1px solid;
}

.cd-img {
    height: 300px;
    width: 300px;
}

.cd-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cd-container h2 {
    margin-bottom: 30px;
    color: rgb(51, 255, 0);
    font-size: 2em;
    letter-spacing: 3px;
    border-bottom: 1px solid;

}

.button-back {
    width: 150px;
    color: black;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    border: none;
    background-color: aliceblue;
    cursor: pointer;
}