@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

:root {
  font-family: 'Jura', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}